body{
    overflow-x: hidden;
} 

.image-1 img{
    width: 100%;
    height: auto;
    
}
html{
    background-color: rgb(3, 0, 16);
}
h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-size: x-large;
    color: azure;
}

 #namestyle{
    font-family: "Bahianita", sans-serif;
  font-weight: 10;
  font-style: normal;
    color: whitesmoke;
    font-size: 200%;
} 

.nameplate{
    position:relative;
    top : 100px;
    left: 5%;
    max-width: 360px;
    max-height: 400px;
} 
.tides{
	position: absolute;
	top: 20px;
    left: 0px;
	background-image: none;
    width: 100%;
	opacity: 25%;
}

.stars{
	position: absolute;
    width: 100%;
        opacity: 80%;
    }
    
.image-1{
    position: relative;
}    

.aboutme {
    position: relative;
    color: white;
    border: 0px;
    width: 60%;

    font-weight: 10;
    font-size:medium;
}